{% extends 'base.html' %}
{% load static %}
{% block principal %}
<div class="container">
  <br>
<center><h1>Albumes</h1></center>

<hr>
    <div class="row">
      {% for Albume in object_list  %}
      <div class="col-lg-3 col-md-3 mb-3">
        <div class="card h-100">
        <p>
          <center><a href="#"><img src="{{ Albume.image.url }}" alt="" height="200p" class="container-fluid"></a></center>
          <div class="card-body">
            <h5 class="card-title">
              <a href="#">{{ Albume.name }}</a>
            </h5>
            <h6>
              <a href="#">{{ Albume.artist }}</a>
            </h6>
            <p class="card-text"><medium class="text-muted">Format:</medium><a href="#"> {{ Albume.audio_Format }}</a></p>
          </div>
          <div class="card-footer">
            <a href="{% url 'albume' Albume.slug %}" id="botones" class="btn btn-outline-primary" type="submit">See more</a>
            <a href="#"></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
    {% endblock %}